@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  transition: all .5s ease;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
  background-color: #fee9b1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}